.pace .pace-progress {background: #23d1b7;}
.bigIcon,.socialList li a:hover{color: #23d1b7;}
.btn-new,.downloadNumber{background: #23d1b7}
.btn-new:hover,.btn-new:focus{background: #2AE0C5}
#share{background-color: #23d1b7;}
