.pace .pace-progress {background: #BAAD7C;}
.bigIcon,.socialList li a:hover{color: #BAAD7C;}
.btn-new,.downloadNumber{background: #BAAD7C}
.btn-new:hover,.btn-new:focus{background: #C4B36D}
#share{background-color: #BAAD7C;}
