.pace .pace-progress {background: #A0CE4E;}
.bigIcon,.socialList li a:hover{color: #A0CE4E;}
.btn-new,.downloadNumber{background: #A0CE4E}
.btn-new:hover,.btn-new:focus{background: #AAE047}
#share{background-color: #A0CE4E;}
