.pace .pace-progress {background: #818EDB;}
.bigIcon,.socialList li a:hover{color: #818EDB;}
.btn-new,.downloadNumber{background: #818EDB}
.btn-new:hover,.btn-new:focus{background: #7784D1}
#share{background-color: #818EDB;}