.pace .pace-progress {background: #F73679;}
.bigIcon,.socialList li a:hover{color: #F73679;}
.btn-new,.downloadNumber{background: #F73679}
.btn-new:hover,.btn-new:focus{background: #FF4F89}
#share{background-color: #F73679;}
