.pace .pace-progress {background: #FF5E76;}
.bigIcon,.socialList li a:hover{color: #FF5E76;}
.btn-new,.downloadNumber{background: #FF5E76}
.btn-new:hover,.btn-new:focus{background: #FC3755}
#share{background-color: #FF5E76;}