.pace .pace-progress {background: #199542;}
.bigIcon,.socialList li a:hover{color: #199542;}
.btn-new,.downloadNumber{background: #199542}
.btn-new:hover,.btn-new:focus{background: #40a762}
#share{background-color: #199542;}
