.pace .pace-progress {background: #8B4DA5;}
.bigIcon,.socialList li a:hover{color: #8B4DA5;}
.btn-new,.downloadNumber{background: #8B4DA5}
.btn-new:hover,.btn-new:focus{background: #9843BC}
#share{background-color: #8B4DA5;}