.pace .pace-progress {background: #F9B83E;}
.bigIcon,.socialList li a:hover{color: #F9B83E;}
.btn-new,.downloadNumber{background: #F9B83E}
.btn-new:hover,.btn-new:focus{background: #FFAE19}
#share{background-color: #F9B83E;}